@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  width: 240px;
  height: 240px;
  position: absolute;
  right: 3.5rem;
  top: 70px;
  z-index: 1;
  font-family: Roboto;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0px 8px 0 #0003;;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  padding: 0;
}

.ul li {
  padding-left: 1rem;
  cursor: pointer;
}

.login {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.bold {
  font-weight: 700;
}
